# Quick introduction to AML Data Prep

This notebook quickly walks through the highlights of Azure Machine Learning's Data Prep SDK.

In [1]:
import pandas as pd
from os import path
import azureml.dataprep as dprep
from tempfile import mkdtemp
from azureml.dataprep import f_and, f_not, value

localfilepath = './deepdataapi.txt'

The most common task in data preparation is getting data in. For data science, this is frequently from files. Normally, it requires writing code that looks like this:

In [2]:
dflow = dprep.read_csv(path = localfilepath, separator = '|', skip_rows = 3)
dflow.head(5)

,Name,CompanyName,SalesPerson,EmailAddress,Founded,Last Order,Sales to Date,City,postal_code,latitude,longitude
0,Mr. Seth Juarez,A Bike Store,adventure-works\pamela0,orlando0@adventure-works.com,21-Feb-73,531,95962473,San Francisco,94122,37.758941,-222.48591
1,Ms Katherine Harding,Vintage Sport Boutique,adventure-works\david8,kendra0@adventure-works.com,5 November 1880,68343,342244200,San Francisco,94122,37.758941,-122.48591
2,Mrs Kami LeMonds,Trendy Department Stores,adventure-works\shu0,donald1@adventure-works.com,8-Oct-43,83287,92839201,San Francisco,94122,37.758941,-122.48591
3,Mr. Andrew Cencini,Sports Merchandise,adventure-works\pamela0,andrew2@adventure-works.com,1915,58533,43569020,SJ,94115,37.782632,-122.432504
4,Mr. Darren Gehring,Journey Sporting Goods,adventure-works\jillian0,darren0@adventure-works.com,28-Jul-32,65744,38783980,San Antonio,94133,47.609722,-122.333056

However, being effective with this approach requires intimate knowledge of the file, the parameters to the read method (whether it be CSV, TXT, Excel, etc), and an iterative approach to trying some params (seeing if they work and trying different ones). Try removing some of the options above to see what happens when params are wrong.

However, the AML Data Prep SDK provides an easier way:

In [3]:
dflow = dprep.auto_read_file(localfilepath)
dflow.head(5)

,Name,CompanyName,SalesPerson,EmailAddress,Founded,Last Order,Sales to Date,City,postal_code,latitude,longitude
0,Mr. Seth Juarez,A Bike Store,adventure-works\pamela0,orlando0@adventure-works.com,21-Feb-73,531.0,95962473.0,San Francisco,94122.0,37.758941,-222.485910
1,Ms Katherine Harding,Vintage Sport Boutique,adventure-works\david8,kendra0@adventure-works.com,5 November 1880,68343.0,342244200.0,San Francisco,94122.0,37.758941,-122.485910
2,Mrs Kami LeMonds,Trendy Department Stores,adventure-works\shu0,donald1@adventure-works.com,8-Oct-43,83287.0,92839201.0,San Francisco,94122.0,37.758941,-122.485910
3,Mr. Andrew Cencini,Sports Merchandise,adventure-works\pamela0,andrew2@adventure-works.com,1915,58533.0,43569020.0,SJ,94115.0,37.782632,-122.432504
4,Mr. Darren Gehring,Journey Sporting Goods,adventure-works\jillian0,darren0@adventure-works.com,28-Jul-32,65744.0,38783980.0,San Antonio,94133.0,47.609722,-122.333056

Note that the `auto_read_file` does not take any params in this invocation. It also does not specify the type of file. This same call would work for fixed width, text, json, and Excel files. This method uses ML approaches under the covers to develop an understanding of the file to then write a program that will read it. To see what our program understood the file to be, do:

In [4]:
ff = dprep.detect_file_format(localfilepath)
print(ff.file_format)

ParseDelimitedProperties
    separator: '|'
    headers_mode: PromoteHeadersMode.CONSTANTGROUPED
    encoding: FileEncoding.UTF8
    quoting: False
    skip_rows: 3
    skip_mode: SkipMode.GROUPED
    comment: None

`detect_file_format` is being called under the covers by the `auto_read_file`. Here, you can see the parameters that will be used on the read file operation, adding transparency to the call. These params can also be overriden, thus addressing the 2 major complaints about "magical methods":
1. needing insight into what's happening, and
2. needing the ability to override the "magic."

Now that the file is loaded, it's possible to start performing some of the smart operations on it:

In [5]:
profile = dflow.get_profile()
profile

ColumnProfile:
    column_name: Name
    type: FieldType.STRING

    min: Mr. Alexander J. Deborde
    max: Ms. Yuhong  Li
    count: 66.0
    missing_count: 0.0
    not_missing_count: 66.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile:
    column_name: CompanyName
    type: FieldType.STRING

    min: A Bike Store
    max: Wholesale Parts
    count: 66.0
    missing_count: 0.0
    not_missing_count: 66.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile:
    column_name: SalesPerson
    type: FieldType.STRING

    min: adventure-works\david8
    max: adventure-works\shu0
    count: 66.0
    missing_count: 0.0
    not_missing_count: 66.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile:
    column_name: EmailAddress
    type: FieldType.STRING

    min: aidan0@adventure-works.com
    max: yuhong1@adventure-works.com
    count: 66.0
    missing_count: 0.0
    not_missing_count: 66.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile:
    column_name: Founded
    type: FieldType.STRING

    min: 10-May-35
    max: 9-Jul-01
    count: 66.0
    missing_count: 0.0
    not_missing_count: 66.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile:
    column_name: Last Order
    type: FieldType.DECIMAL

    min: 138.0
    max: 99489.0
    count: 66.0
    missing_count: 0.0
    not_missing_count: 66.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 138.0
           1%: 17432.1
           5%: 17362.0
          25%: 36954.0
          50%: 58385.5
          75%: 73814.0
          95%: 95510.99999999999
          99%: 99373.16
        99.9%: 99489.0

    mean: 55340.53030303029
    std: 26393.243904873543
    variance: 696603323.8221444
    skewness: -0.27355288235262837
    kurtosis: -0.899926747065042

ColumnProfile:
    column_name: Sales to Date
    type: FieldType.DECIMAL

    min: 2314778.0
    max: 342244200.0
    count: 66.0
    missing_count: 0.0
    not_missing_count: 66.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 2314778.0
           1%: 9271946.9
           5%: 9263626.0
          25%: 30020309.0
          50%: 56007360.0
          75%: 85201368.0
          95%: 109087178.3999998
          99%: 332982374.4000002
        99.9%: 342244200.0

    mean: 63223493.484848484
    std: 55489064.02614185
    variance: 3079036226497269.5
    skewness: 2.761217277662134
    kurtosis: 10.813502862583613

ColumnProfile:
    column_name: City
    type: FieldType.STRING

    min: S.A.
    max: San Jose
    count: 66.0
    missing_count: 0.0
    not_missing_count: 66.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile:
    column_name: postal_code
    type: FieldType.DECIMAL

    min: 94103.0
    max: 94133.0
    count: 66.0
    missing_count: 0.0
    not_missing_count: 66.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 94103.0
           1%: 94107.09999999999
           5%: 94107.0
          25%: 94115.0
          50%: 94122.0
          75%: 94133.0
          95%: 94133.0
          99%: 94133.0
        99.9%: 94133.0

    mean: 94122.59090909093
    std: 10.349250842792243
    variance: 107.10699300703595
    skewness: -0.3953590167727637
    kurtosis: -1.2909849057758098

ColumnProfile:
    column_name: latitude
    type: FieldType.DECIMAL

    min: 37.712927
    max: 47.609722
    count: 66.0
    missing_count: 0.0
    not_missing_count: 66.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 37.712927
           1%: 37.74376900000001
           5%: 37.742673
          25%: 37.758941
          50%: 37.78446700000001
          75%: 37.798427
          95%: 47.609722
          99%: 47.609722
        99.9%: 47.609722

    mean: 38.37248293939391
    std: 2.364347990234241
    variance: 5.590141418924693
    skewness: 3.5990567553726414
    kurtosis: 11.12397311672544

ColumnProfile:
    column_name: longitude
    type: FieldType.DECIMAL

    min: -222.48591
    max: -122.333056
    count: 66.0
    missing_count: 0.0
    not_missing_count: 66.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: -222.48591
           1%: -122.4856821
           5%: -122.48591
          25%: -122.463496
          50%: -122.41002
          75%: -122.407113
          95%: -122.333056
          99%: -122.333056
        99.9%: -122.333056

    mean: -123.942376
    std: 12.316548289670216
    variance: 151.6973617717783
    skewness: -7.758368527457972
    kurtosis: 59.088923313975684

Profiling the Dataflow (`dflow`) provides information and statistics about the data that help you make decisions about what operations can/should be performed on the data to get it ready to be consumed for advanced analytics.

It is also possible to look at individual columns and to ask for distribution information about the columns. In the case of the 'City' column, let's look at the frequency distributions:

In [6]:
profile.columns['City'].value_counts

[ValueCountEntry(value='San Francisco', count=15.0),
 ValueCountEntry(value='San Antonio', count=14.0),
 ValueCountEntry(value='SA', count=6.0),
 ValueCountEntry(value='San Jose', count=6.0),
 ValueCountEntry(value='SAN FRANCISCO', count=5.0),
 ValueCountEntry(value='S.A.', count=4.0),
 ValueCountEntry(value='S.J.', count=4.0),
 ValueCountEntry(value='SJ', count=3.0),
 ValueCountEntry(value='SAN JOSE', count=3.0),
 ValueCountEntry(value='S.D.', count=3.0),
 ValueCountEntry(value='San Diego', count=3.0)]

From this information, we see that there are lots of duplicate 'City' names with different spelling, capitalization, and abbreviation. To address this, we use Fuzzy Grouping to create a new column that groups mispelled and inconsistently entered city names:

In [7]:
dflow = dflow.fuzzy_group_column(source_column='City',
                                 new_column_name='Clean City',
                                 similarity_score_column_name= 'SimScore',
                                 similarity_threshold=0.8)

profile = dflow.get_profile()
profile.columns['Clean City'].value_counts

[ValueCountEntry(value='San Antonio', count=24.0),
 ValueCountEntry(value='San Francisco', count=20.0),
 ValueCountEntry(value='San Jose', count=16.0),
 ValueCountEntry(value='San Diego', count=6.0)]

It is also possible to perform more straightforward operations as well like filtering. The next step filters out any rows that are from the city of San Antonio:

In [8]:
dflow = dflow.filter(dprep.col('Clean City') != 'San Antonio')
profile = dflow.get_profile()
profile.columns['Clean City'].value_counts

[ValueCountEntry(value='San Francisco', count=20.0),
 ValueCountEntry(value='San Jose', count=16.0),
 ValueCountEntry(value='San Diego', count=6.0)]

Now that the data set is in a good, clean state, we can start applying transformations that are specific to consumption by ML models like encoders:

In [9]:
dflow = dflow.label_encode(source_column='Clean City', new_column_name='City Label')
dflow.head(5)

,Name,CompanyName,SalesPerson,EmailAddress,Founded,Last Order,Sales to Date,City,Clean City,City Label,SimScore,postal_code,latitude,longitude
0,Mr. Seth Juarez,A Bike Store,adventure-works\pamela0,orlando0@adventure-works.com,21-Feb-73,531.0,95962473.0,San Francisco,San Francisco,0,1.000000,94122.0,37.758941,-222.485910
1,Ms Katherine Harding,Vintage Sport Boutique,adventure-works\david8,kendra0@adventure-works.com,5 November 1880,68343.0,342244200.0,San Francisco,San Francisco,0,1.000000,94122.0,37.758941,-122.485910
2,Mrs Kami LeMonds,Trendy Department Stores,adventure-works\shu0,donald1@adventure-works.com,8-Oct-43,83287.0,92839201.0,San Francisco,San Francisco,0,1.000000,94122.0,37.758941,-122.485910
3,Mr. Andrew Cencini,Sports Merchandise,adventure-works\pamela0,andrew2@adventure-works.com,1915,58533.0,43569020.0,SJ,San Jose,1,0.825086,94115.0,37.782632,-122.432504
4,Mr. Daniel P. Thompson,Travel Sports,adventure-works\pamela0,daniel2@adventure-works.com,10-Oct-50,49186.0,40685181.0,San Francisco,San Francisco,0,1.000000,94122.0,37.758941,-122.485910

Once the data is in a good format for modelling, it's important to enforce a contract between the data preparation phase and the modelling phase. What does a contract mean? This might refer to assumptions you have about your dataset, like a range of valid entries. If the contract is broken, it can have consequences on the model that may not be intended. The easiest way to do this is to assert the contract. First, let's profile our data again to determine what our contract might be:

In [10]:
profile = dflow.get_profile()
profile

ColumnProfile:
    column_name: Name
    type: FieldType.STRING

    min: Mr. Andrew  Cencini
    max: Ms. Yuhong  Li
    count: 42.0
    missing_count: 0.0
    not_missing_count: 42.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile:
    column_name: CompanyName
    type: FieldType.STRING

    min: A Bike Store
    max: Wholesale Parts
    count: 42.0
    missing_count: 0.0
    not_missing_count: 42.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile:
    column_name: SalesPerson
    type: FieldType.STRING

    min: adventure-works\david8
    max: adventure-works\shu0
    count: 42.0
    missing_count: 0.0
    not_missing_count: 42.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile:
    column_name: EmailAddress
    type: FieldType.STRING

    min: andrea1@adventure-works.com
    max: yuhong1@adventure-works.com
    count: 42.0
    missing_count: 0.0
    not_missing_count: 42.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile:
    column_name: Founded
    type: FieldType.STRING

    min: 10-May-35
    max: 9-Jul-01
    count: 42.0
    missing_count: 0.0
    not_missing_count: 42.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile:
    column_name: Last Order
    type: FieldType.DECIMAL

    min: 531.0
    max: 98765.0
    count: 42.0
    missing_count: 0.0
    not_missing_count: 42.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 531.0
           1%: 17267.2
           5%: 17046.0
          25%: 36954.0
          50%: 59288.0
          75%: 74699.0
          95%: 96094.0
          99%: 98765.0
        99.9%: 98765.0

    mean: 56157.54761904762
    std: 26224.060115411223
    variance: 687701328.9367017
    skewness: -0.27508954781407274
    kurtosis: -0.917204951619981

ColumnProfile:
    column_name: Sales to Date
    type: FieldType.DECIMAL

    min: 2314778.0
    max: 342244200.0
    count: 42.0
    missing_count: 0.0
    not_missing_count: 42.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 2314778.0
           1%: 7894050.100000001
           5%: 6668992.0
          25%: 25051562.0
          50%: 47987281.5
          75%: 84330627.0
          95%: 172391729.39999974
          99%: 342244200.0
        99.9%: 342244200.0

    mean: 63477006.26190478
    std: 65109169.73401865
    variance: 4239203983453250.5
    skewness: 2.656702128537577
    kurtosis: 8.29657623137827

ColumnProfile:
    column_name: City
    type: FieldType.STRING

    min: S.D.
    max: San Jose
    count: 42.0
    missing_count: 0.0
    not_missing_count: 42.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile:
    column_name: Clean City
    type: FieldType.STRING

    min: San Diego
    max: San Jose
    count: 42.0
    missing_count: 0.0
    not_missing_count: 42.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


ColumnProfile:
    column_name: City Label
    type: FieldType.INTEGER

    min: 0.0
    max: 2.0
    count: 42.0
    missing_count: 0.0
    not_missing_count: 42.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 0.0
           1%: 0.0
           5%: 0.0
          25%: 0.0
          50%: 1.0
          75%: 1.0
          95%: 2.0
          99%: 2.0
        99.9%: 2.0

    mean: 0.6666666666666666
    std: 0.7213357077339457
    variance: 0.5203252032520324
    skewness: 0.5638789642395663
    kurtosis: -0.9675409226190466

ColumnProfile:
    column_name: SimScore
    type: FieldType.DECIMAL

    min: 0.8188056945800781
    max: 1.0
    count: 42.0
    missing_count: 0.0
    not_missing_count: 42.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 0.8188056945800781
           1%: 0.825086236000061
           5%: 0.825086236000061
          25%: 1.0
          50%: 1.0
          75%: 1.0
          95%: 1.0
          99%: 1.0
        99.9%: 1.0

    mean: 0.9579052556128729
    std: 0.07622739850484436
    variance: 0.0058106162828163496
    skewness: -1.1873691106395041
    kurtosis: -0.600943763452459

ColumnProfile:
    column_name: postal_code
    type: FieldType.DECIMAL

    min: 94103.0
    max: 94133.0
    count: 42.0
    missing_count: 0.0
    not_missing_count: 42.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 94103.0
           1%: 94105.0
           5%: 94105.0
          25%: 94110.0
          50%: 94121.0
          75%: 94122.0
          95%: 94133.0
          99%: 94133.0
        99.9%: 94133.0

    mean: 94118.95238095238
    std: 9.167685509844363
    variance: 84.04645760741029
    skewness: -0.003390554049007503
    kurtosis: -0.9853228140804706

ColumnProfile:
    column_name: latitude
    type: FieldType.DECIMAL

    min: 37.712927
    max: 37.800036
    count: 42.0
    missing_count: 0.0
    not_missing_count: 42.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: 37.712927
           1%: 37.740151499999996
           5%: 37.738979
          25%: 37.757923
          50%: 37.7674325
          75%: 37.786407
          95%: 37.7991164
          99%: 37.800036
        99.9%: 37.800036

    mean: 37.769564714285714
    std: 0.02131288930897986
    variance: 0.000454239250696828
    skewness: -0.35639330452476176
    kurtosis: -0.5144895127405058

ColumnProfile:
    column_name: longitude
    type: FieldType.DECIMAL

    min: -222.48591
    max: -122.393914
    count: 42.0
    missing_count: 0.0
    not_missing_count: 42.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0


    Quantiles:
         0.1%: -222.48591
           1%: -122.486999
           5%: -122.48954
          25%: -122.481736
          50%: -122.437149
          75%: -122.409084
          95%: -122.397596
          99%: -122.393914
        99.9%: -122.393914

    mean: -124.82548357142859
    std: 15.43691439616717
    variance: 238.2983260745932
    skewness: -6.02513074738309
    kurtosis: 35.14077387684408

Now that we can see the range of the 'Last Order' column, we can assert what we think should be valid:

In [11]:
dflow = dflow.assert_value(
        columns='Last Order', 
        expression=dprep.f_and(value > 1000, value < 100000),
        error_code='InvalidRange'
    )
dflow.head(5)

,Name,CompanyName,SalesPerson,EmailAddress,Founded,Last Order,Sales to Date,City,Clean City,City Label,SimScore,postal_code,latitude,longitude
0,Mr. Seth Juarez,A Bike Store,adventure-works\pamela0,orlando0@adventure-works.com,21-Feb-73,"azureml.dataprep.native.DataPrepError(""'Invali...",95962473.0,San Francisco,San Francisco,0,1.000000,94122.0,37.758941,-222.485910
1,Ms Katherine Harding,Vintage Sport Boutique,adventure-works\david8,kendra0@adventure-works.com,5 November 1880,68343,342244200.0,San Francisco,San Francisco,0,1.000000,94122.0,37.758941,-122.485910
2,Mrs Kami LeMonds,Trendy Department Stores,adventure-works\shu0,donald1@adventure-works.com,8-Oct-43,83287,92839201.0,San Francisco,San Francisco,0,1.000000,94122.0,37.758941,-122.485910
3,Mr. Andrew Cencini,Sports Merchandise,adventure-works\pamela0,andrew2@adventure-works.com,1915,58533,43569020.0,SJ,San Jose,1,0.825086,94115.0,37.782632,-122.432504
4,Mr. Daniel P. Thompson,Travel Sports,adventure-works\pamela0,daniel2@adventure-works.com,10-Oct-50,49186,40685181.0,San Francisco,San Francisco,0,1.000000,94122.0,37.758941,-122.485910

As can be seen from the output, after the assertion our first row fails the data range contract in this Dataflow. Now, it can be filtered out and excluded, or it can be filtered into an error flow and processed there. In this example, we simply filter it out:

In [12]:
dflow = dflow.filter(f_not(dprep.col('Last Order').is_error()))
dflow.head(5)

,Name,CompanyName,SalesPerson,EmailAddress,Founded,Last Order,Sales to Date,City,Clean City,City Label,SimScore,postal_code,latitude,longitude
0,Ms Katherine Harding,Vintage Sport Boutique,adventure-works\david8,kendra0@adventure-works.com,5 November 1880,68343.0,342244200.0,San Francisco,San Francisco,0,1.000000,94122.0,37.758941,-122.485910
1,Mrs Kami LeMonds,Trendy Department Stores,adventure-works\shu0,donald1@adventure-works.com,8-Oct-43,83287.0,92839201.0,San Francisco,San Francisco,0,1.000000,94122.0,37.758941,-122.485910
2,Mr. Andrew Cencini,Sports Merchandise,adventure-works\pamela0,andrew2@adventure-works.com,1915,58533.0,43569020.0,SJ,San Jose,1,0.825086,94115.0,37.782632,-122.432504
3,Mr. Daniel P. Thompson,Travel Sports,adventure-works\pamela0,daniel2@adventure-works.com,10-Oct-50,49186.0,40685181.0,San Francisco,San Francisco,0,1.000000,94122.0,37.758941,-122.485910
4,Mr. Paulo H. Lisboa,Elite Bikes,adventure-works\jillian0,paulo0@adventure-works.com,11 August 1897,87506.0,284357790.0,SAN JOSE,San Jose,1,1.000000,94103.0,37.771437,-122.423892

Once your data is cleaned, prepared, and ready for ML consumption, you have a series of options; the first is simply convert to a data frame (Pandas or Spark) and then consume in an API that can use DataFrames as an input:

In [13]:
df_pandas = dflow.to_pandas_dataframe()
df_pandas

,Name,CompanyName,SalesPerson,EmailAddress,Founded,Last Order,Sales to Date,City,Clean City,City Label,SimScore,postal_code,latitude,longitude
0,Ms Katherine Harding,Vintage Sport Boutique,adventure-works\david8,kendra0@adventure-works.com,5 November 1880,68343.0,342244200.0,San Francisco,San Francisco,0,1.000000,94122.0,37.758941,-122.485910
1,Mrs Kami LeMonds,Trendy Department Stores,adventure-works\shu0,donald1@adventure-works.com,8-Oct-43,83287.0,92839201.0,San Francisco,San Francisco,0,1.000000,94122.0,37.758941,-122.485910
2,Mr. Andrew Cencini,Sports Merchandise,adventure-works\pamela0,andrew2@adventure-works.com,1915,58533.0,43569020.0,SJ,San Jose,1,0.825086,94115.0,37.782632,-122.432504
3,Mr. Daniel P. Thompson,Travel Sports,adventure-works\pamela0,daniel2@adventure-works.com,10-Oct-50,49186.0,40685181.0,San Francisco,San Francisco,0,1.000000,94122.0,37.758941,-122.485910
4,Mr. Paulo H. Lisboa,Elite Bikes,adventure-works\jillian0,paulo0@adventure-works.com,11 August 1897,87506.0,284357790.0,SAN JOSE,San Jose,1,1.000000,94103.0,37.771437,-122.423892
5,Mr. Peter Kurniawan,Largest Bike Store,adventure-works\jillian0,peter4@adventure-works.com,25 November 1562,65515.0,97747689.0,S.D.,San Diego,2,0.818806,94133.0,37.798065,-122.406855
6,Ms. Teanna M. Cobb,Another Sporting Goods Company,adventure-works\linda3,teanna0@adventure-works.com,9-Jul-01,37725.0,95659583.0,San Jose,San Jose,1,1.000000,94103.0,37.776775,-122.403305
7,Ms. Jane Clayton,South Bike Company,adventure-works\garrett1,jane1@adventure-works.com,7-Jun-52,66651.0,94831111.0,San Diego,San Diego,2,1.000000,94127.0,37.740654,-122.465389
8,Mr. William J. Conner,Urban Sports Emporium,adventure-works\jose1,william1@adventure-works.com,28-Jul-32,54767.0,93099102.0,San Francisco,San Francisco,0,1.000000,94122.0,37.754114,-122.478330
9,Mr. John L. Colon,Two Wheels Cycle Store,adventure-works\linda3,john14@adventure-works.com,1445,17362.0,87367939.0,SAN FRANCISCO,San Francisco,0,1.000000,94122.0,37.763343,-122.481809
10,Ms. Linda Leste,National Manufacturing,adventure-works\garrett1,linda7@adventure-works.com,25-Feb-16,55873.0,85781125.0,San Francisco,San Francisco,0,1.000000,94122.0,37.753633,-122.489540
11,Mr. Scott A. Colvin,Westside Cycle Store,adventure-works\jillian0,scott1@adventure-works.com,1928,23896.0,84330627.0,San Francisco,San Francisco,0,1.000000,94118.0,37.777292,-122.463496
12,Ms. Rosmarie J. Carroll,Aerobic Exercise Company,adventure-works\linda3,rosmarie0@adventure-works.com,11 November 1889,73778.0,82603901.0,San Francisco,San Francisco,0,1.000000,94110.0,37.736304,-122.424432
13,Ms. Judy R. Lundahl,Leading Sales & Repair,adventure-works\jillian0,judy1@adventure-works.com,25-Apr-27,86663.0,81706236.0,S.D.,San Diego,2,0.818806,94133.0,37.798065,-122.406855
14,Mr. Eugene Kogan,Mountain Bike Center,adventure-works\shu0,eugene2@adventure-works.com,1854,10203.0,80624415.0,San Francisco,San Francisco,0,1.000000,94121.0,37.775653,-122.497387
15,Ms. Andrea A. Thomsen,West Side Mart,adventure-works\jae0,andrea1@adventure-works.com,19-Feb-40,87987.0,79629894.0,San Francisco,San Francisco,0,1.000000,94105.0,37.788286,-122.401543
16,Mr. Sean J. Lunt,Main Bicycle Services,adventure-works\linda3,sean4@adventure-works.com,21-Feb-73,60043.0,78418124.0,S.J.,San Jose,1,0.825086,94133.0,37.798860,-122.408204
17,Mr. Joseph M. Lique,Front Sporting Goods,adventure-works\pamela0,joseph2@adventure-works.com,2 January 1920a,27175.0,77497753.0,San Jose,San Jose,1,1.000000,94122.0,37.763428,-122.481736
18,Mr. Douglas Groncki,Locks Company,adventure-works\shu0,douglas2@adventure-works.com,2-Apr-10,34116.0,64509947.0,S.J.,San Jose,1,0.825086,94133.0,37.798427,-122.407507
19,Ms. Brigid F. Cavendish,Vigorous Sports Store,adventure-works\jae0,brigid0@adventure-works.com,1903,97843.0,61849150.0,SJ,San Jose,1,0.825086,94115.0,37.783320,-122.432647
20,Mr. Yale Li,Rapid Bikes,adventure-works\jose1,yale0@adventure-works.com,25-Apr-27,73749.0,52146064.0,SAN FRANCISCO,San Francisco,0,1.000000,94110.0,37.760579,-122.419320
21,Ms. Yuhong Li,Nearby Sporting Goods,adventure-works\jae0,yuhong1@adventure-works.com,21-Feb-73,39837.0,9263626.0,SAN FRANCISCO,San Francisco,0,1.000000,94110.0,37.760579,-122.419320
22,Mr. George Z. Li,Security Racks and Locks Wholesalers,adventure-works\shu0,george3@adventure-works.com,8 July 1859,81164.0,6668992.0,San Jose,San Jose,1,1.000000,94121.0,37.782107,-122.483631
23,Mr. Michael Graff,Commercial Sporting Goods,adventure-works\shu0,michael16@adventure-works.com,17-Sep-08,36954.0,49792892.0,San Jose,San Jose,1,1.000000,94105.0,37.787755,-122.399372
24,Ms. Linda E. Burnett,Travel Systems,adventure-works\jillian0,linda4@adventure-works.com,8 August 1876,91835.0,46181671.0,San Francisco,San Francisco,0,1.000000,94110.0,37.759054,-122.414656
25,Mr. Jeffrey Kurtz,Many Bikes Store,adventure-works\shu0,jeffrey3@adventure-works.com,2 January 1920a,65015.0,44042128.0,S.J.,San Jose,1,0.825086,94133.0,37.799501,-122.409084
26,Ms. Phyllis A. Thomas,Red Bicycle Company,adventure-works\jose1,phyllis2@adventure-works.com,25 November 1562,61738.0,43973099.0,SAN FRANCISCO,San Francisco,0,1.000000,94118.0,37.782534,-122.466615
27,Mr. Kirk T King,Up-To-Date Sports,adventure-works\jose1,kirk2@adventure-works.com,9 May 1828,52900.0,37399497.0,San Francisco,San Francisco,0,1.000000,94122.0,37.754090,-122.478248
28,Mr. Ted Bremer,Raw Materials Inc,adventure-works\pamela0,ted0@adventure-works.com,25 April 1873,98765.0,36979244.0,San Diego,San Diego,2,1.000000,94122.0,37.754106,-122.477841
29,Ms. Connie L. Coffman,Discount Bicycle Specialists,adventure-works\jillian0,connie0@adventure-works.com,1892,50881.0,33958763.0,SAN JOSE,San Jose,1,1.000000,94122.0,37.762304,-122.506543
30,Mr. Vamsi Kuppa,Metal Clearing House,adventure-works\jose1,vamsi1@adventure-works.com,4 July 1767,10950.0,31796818.0,S.J.,San Jose,1,0.825086,94133.0,37.800036,-122.409817
31,Mr. Jon Grande,Riding Cycles,adventure-works\jae0,jon1@adventure-works.com,24 July 1802,74699.0,30020309.0,San Diego,San Diego,2,1.000000,94116.0,37.742673,-122.483340
32,Ms. Bonnie B. Lepro,More Bikes!,adventure-works\linda3,bonnie2@adventure-works.com,1915,24024.0,25051562.0,San Francisco,San Francisco,0,1.000000,94131.0,37.733449,-122.434241
33,Mr. Lucy Harrington,Metropolitan Sports Supply,adventure-works\shu0,lucy0@adventure-works.com,11 August 1897,67234.0,20804221.0,San Francisco,San Francisco,0,1.000000,94112.0,37.712927,-122.444358
34,Ms. Elsie L. Lewin,Town Industries,adventure-works\jillian0,elsie0@adventure-works.com,13-Feb-03,17046.0,12122242.0,SAN FRANCISCO,San Francisco,0,1.000000,94118.0,37.781278,-122.460661
35,Ms. Judy J. Thames,Demand Distributors,adventure-works\david8,judy3@adventure-works.com,4 July 1767,76894.0,11811339.0,San Jose,San Jose,1,1.000000,94118.0,37.777210,-122.462874
36,Mr. Derek Graham,Wholesale Parts,adventure-works\jose1,derek0@adventure-works.com,10-May-35,28436.0,9346835.0,San Jose,San Jose,1,1.000000,94110.0,37.738979,-122.414971
37,Mr. Brian Groth,Latest Accessories Sales,adventure-works\david8,brian5@adventure-works.com,8 July 1859,52318.0,8419075.0,S.D.,San Diego,2,0.818806,94133.0,37.797828,-122.407444
38,Mr. Kerim Hanif,Bike World,adventure-works\shu0,kerim0@adventure-works.com,26 July 1165,61375.0,5167588.0,San Francisco,San Francisco,0,1.000000,94107.0,37.757923,-122.393914
39,Mr. Lester J. Bowman,Metal Processing Company,adventure-works\garrett1,lester0@adventure-works.com,28 February 1812,94928.0,3459059.0,SJ,San Jose,1,0.825086,94115.0,37.786407,-122.440057
40,Ms. Vanessa J. Tench,Eighth Bike Store,adventure-works\shu0,vanessa0@adventure-works.com,11 November 1889,50892.0,2314778.0,SAN JOSE,San Jose,1,1.000000,94105.0,37.794347,-122.394932

Secondly, it's also possible to save the Dataflow to a `dprep` file to be consumed by other tech like Automated ML:

In [14]:
dflow = dflow.set_name(name="DeepDataAPI")
package_path = path.join(mkdtemp(), "DeepDataAPI.dprep")

print("Saving package to: {}".format(package_path))
package = dprep.Package(arg=dflow)
package.save(file_path=package_path)

Saving package to: /tmp/tmpu6qftv94/DeepDataAPI.dprep

Package
  name: None
  path: /tmp/tmpu6qftv94/DeepDataAPI.dprep
  dataflows: [
    Dataflow {
      name: DeepDataAPI
      steps: 9
    },
  ]